<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <p> Welcome, <%= current_user.username %></p>
  <%= button_to "Sign out", session_url, method: :delete %>
<% else %>
  <%= link_to "Log in", new_session_url %>
  <%= link_to "Sign up", new_user_url %>
<% end %>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
